<a href="https://colab.research.google.com/github/Fawaz770/skills-introduction-to-github/blob/main/untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:

my_list = [1,2,3,"four",5.0]
print(my_list[0])

my_list[1]= "one"
print(my_list[1])

my_list.append(6)
my_list.remove("four")
print(my_list)

1
one
[1, 'one', 3, 5.0, 6]

In [31]:
def great (name):
  print (name*2)
great(2)

4

# first day

In [29]:
# dictionaries

my_dict = {"name": "fawaz","age":22,"major":"cs"}

#الوصول للقيم
value = my_dict["name"]

# تعديل القيم
my_dict["name"] = "saeed"


# ازالة عنصر
del my_dict["age"]
print(my_dict)

{'name': 'saeed', 'major': 'cs'}

In [35]:
age= 25

if age>=50:
  print("yue big ")

elif age >20:
  print("yue mid old")

else :
  print("yue smoll")

yue mid old